.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer
}

.price {
    display: flex;
    align-items: center
}

.name {
    height: 48px;
    text-align: center
}