.constructor {
    width: 100%;
    max-width: 600px;
    // margin-top: 0px;
}

.constructorBudTop,
.constructorBudBottom {
    padding-right: 16px;
    padding-left: 48px;
}

.constructorSumm {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.constructorSummText {
    display: flex;
    align-items: center;
    justify-content: flex;

    svg {
        width: 33px;
        height: 33px;
    }
}

.constructorElement,
.constructorElementTextPreview {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.constructorMain {
    padding-left: 48px;
    padding-right: 16px;
}