.text {
    color: #8585AD;
    opacity: 0.4;
}

.orderContainer {
    width: 100%;
    width: 640px;
    padding: 32px;
    margin: 0 auto;
}

.orderStatusSuccess {
    color: #00CCCC;
}

.orderNumber {
    text-align: center;
}

.orderBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orderPrice {
    display: flex;
    align-items: center;
}

.orderIngredient {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.orderIngredientTitle {
    max-width: 360px;
    margin-right: 5px;
}

.orderIngredientImage {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #131316;
    border: 2px solid #801AB2;
    position: relative;
    margin-right: 16px;

    img {
        height: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.orderIngredientPrice {
    display: flex;
    align-items: center;
    margin-left: auto;
    white-space: nowrap;

    span {
        margin-right: 8px;
    }
}