.main{
    background: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;

    width: 720px;
    min-height: 300px;

    padding: 40px;
    z-index: 999;
    transform: scale(.5);
    opacity: 0;
    transition: scale .2s ease-in;
    transition: opacity .8s ease-in;
}

.visible {
    transition: transform .2s ease-in, opacity .3s ease-in;
    transform: scale(1);
    opacity: 1;
}