.login {
    justify-self: end;
    color: var(--text-inactive-color);

    p {
        transition: all .2s linear;
    }

    &:hover p {
        color: var(--text-primary-color);
    }

    &:hover svg {
        fill: #fff;
        transition: all .2s linear
    }
}

.login_link {
    display: flex;
    align-items: center;

    cursor: pointer;
    text-decoration: none;
    color: unset
}