.ingredientCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover img {
        transform: scale(1.1);
    }
}

.ingredientCounter {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #4C4CFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

.ingredientImage {
    margin: 0 auto;
    transition: 0.3s linear;
}

.ingredientPrice {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingredientName {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}