.section {
    padding-top: 100px;
    padding-left: 16px
}
.section_inner {
    display: flex;
    flex-direction: column; 
    gap: 16px
}

.ingredients_list {
    max-height: 380px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    scrollbar-color: #8585AD;
    scrollbar-width: 8px
}

.ingredients_list::-webkit-scrollbar {
    width: 8px
}

.ingredients_list::-webkit-scrollbar-track {
    background-color: #2F2F37
}

.ingredients_list::-webkit-scrollbar-thumb {
    background-color: #8585AD
}

.item {
    display: flex;
    align-items: center
}
.item > svg {
    cursor: grab;
    margin-right: 8px
}

.bottom_ri img{
    transform: rotate(180deg);
}